.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    height: 100vh;
    position: relative;
    z-index: 1;
}

#about {
    height: 100vh;
    display: flex;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px; */
}

.left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#coding {
    max-width: 400px;
    border-radius: 14px;
}

.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 120px;
}

.skills {
    justify-content: space-between;
    display: flex;
    margin-top: 4%;
}
.title {
    font-size: 40px;
    font-weight: 600;
    color: orange;
}